@import url('https://fonts.googleapis.com/css2?family=Pirata+One&display=swap');

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  background-image: url("https://wallpapercave.com/wp/wp7482552.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  opacity: 0.9;
}

.Header {
  font-family: 'Pirata One', cursive;
  font-size: 4rem;
  font-weight: 900;
  padding: 50px;
  color: goldenrod;
  -webkit-text-stroke-color: #000000;
  -webkit-text-stroke-width: 1px;
}

img {
  margin: 10px;
  box-shadow: 8px 8px 15px 0px #000000;
}

img:hover {
  transform: scale(1.05);
  transition: 0.5s;
}